In [1]:
import numpy as np
import pandas as pd

In [2]:
#Player Stats by Season
#Obtained from 'Player Stats by Season' tab on website by filtering just for 2023 Big Ten data

p_stats_season = pd.read_csv('Player Stats By Season.csv')

#Remove 'Team' Player
p_stats_season = p_stats_season[p_stats_season['Player'] != ' Team']

p_stats_season

,PlayerId,Player,Team,Conference,Category,StatType,Stat
164,4576297,A.J. Barner,Michigan,Big Ten,receiving,REC,22.0
165,4576297,A.J. Barner,Michigan,Big Ten,receiving,YDS,249.0
166,4576297,A.J. Barner,Michigan,Big Ten,receiving,YPR,11.3
167,4576297,A.J. Barner,Michigan,Big Ten,receiving,TD,1.0
168,4576297,A.J. Barner,Michigan,Big Ten,receiving,LONG,22.0
...,...,...,...,...,...,...,...
8553,4587870,Zuriah Fisher,Penn State,Big Ten,fumbles,LOST,0.0
8554,4587870,Zuriah Fisher,Penn State,Big Ten,defensive,TD,0.0
8555,4587870,Zuriah Fisher,Penn State,Big Ten,defensive,SACKS,3.5
8556,4587870,Zuriah Fisher,Penn State,Big Ten,fumbles,REC,1.0
8557,4587870,Zuriah Fisher,Penn State,Big Ten,fumbles,FUM,0.0

In [3]:
#Group Player Stats by PlayerId

p_stats_season = p_stats_season[['PlayerId', 'StatType', 'Stat']].groupby(['PlayerId', 'StatType']).sum().unstack()
p_stats_season.columns = p_stats_season.columns.droplevel(0)
p_stats_season.reset_index(inplace = True)
p_stats_season = p_stats_season.rename_axis(None, axis=1)
p_stats_season.index = p_stats_season.index.map(int)
p_stats_season

,PlayerId,ATT,AVG,CAR,COMPLETIONS,FGA,FGM,FUM,INT,In 20,...,TD,TFL,TOT,XPA,XPM,YDS,YPA,YPC,YPP,YPR
0,160900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4240735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,88.0,NaN,NaN,NaN,14.7
2,4243195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.5,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4248298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4360056,277.0,NaN,60.0,173.0,NaN,NaN,5.0,6.0,NaN,...,17.0,NaN,NaN,NaN,NaN,1774.0,6.5,-0.6,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
874,5160745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
875,5160748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,361.0,NaN,NaN,NaN,16.4
876,5160756,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,6.0,NaN,NaN,13.0,NaN,NaN,NaN,NaN
877,5161912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
878,5168288,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,6.0,NaN,6.0,NaN,NaN

In [4]:
#Player usage data
#Obtained from 'Player usage metrics broken down by season' link on website and filtering for just 2023 Big Ten Data

p_usage = pd.read_csv('Player Usage.csv')
p_usage = p_usage.rename(columns = {'Name':'Player', 'Id': 'PlayerId'}).sort_values(by = 'Player').reset_index(drop = True)
p_usage

,Season,PlayerId,Player,Position,Team,Conference,Usage Overall,Usage Pass,Usage Rush,Usage FirstDown,Usage SecondDown,Usage ThirdDown,Usage StandardDowns,Usage PassingDowns
0,2023,4576297,A.J. Barner,TE,Michigan,Big Ten,0.0251,0.0612,0.0000,0.0144,0.033,0.040,0.015,0.052
1,2023,4429053,A.J. Henning,WR,Northwestern,Big Ten,0.0871,0.1096,0.0645,0.0737,0.093,0.110,0.081,0.105
2,2023,4682760,Aaron Steinfeldt,TE,Indiana,Big Ten,0.0013,0.0027,0.0000,0.0000,0.004,0.000,0.000,0.004
3,2023,4574732,Aaron Young,RB,Rutgers,Big Ten,0.0249,0.0132,0.0321,0.0293,0.007,0.042,0.030,0.017
4,2023,4433940,Abdur-Rahmaan Yaseen,WR,Purdue,Big Ten,0.0284,0.0597,0.0000,0.0247,0.029,0.034,0.017,0.042
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,2023,4869816,Vinny Anthony,WR,Wisconsin,Big Ten,0.0121,0.0210,0.0024,0.0179,0.007,0.010,0.004,0.011
280,2023,4683114,Will Pauling,WR,Wisconsin,Big Ten,0.1080,0.2013,0.0047,0.0818,0.084,0.187,0.075,0.173
281,2023,4385430,Xavier Johnson,WR,Ohio State,Big Ten,0.0509,0.0368,0.0655,0.0483,0.056,0.054,0.027,0.077
282,2023,4702901,Zach Evans,RB,Minnesota,Big Ten,0.0655,0.0092,0.1046,0.0824,0.083,0.011,0.053,0.051
283,2023,4950379,Zach Ortwerth,TE,Iowa,Big Ten,0.0012,0.0027,0.0000,0.0029,0.000,0.000,0.000,0.000

In [5]:
#Merge Player Stats and Player Usage

merged = p_usage.merge(p_stats_season, on = 'PlayerId', how = 'outer')
merged['Season'] = merged['Season'].apply(lambda x: 2023)
merged['Conference'] = merged['Conference'].apply(lambda x: 'Big Ten')
merged

,Season,PlayerId,Player,Position,Team,Conference,Usage Overall,Usage Pass,Usage Rush,Usage FirstDown,...,TD,TFL,TOT,XPA,XPM,YDS,YPA,YPC,YPP,YPR
0,2023,4576297,A.J. Barner,TE,Michigan,Big Ten,0.0251,0.0612,0.0000,0.0144,...,1.0,NaN,NaN,NaN,NaN,249.0,NaN,NaN,NaN,11.3
1,2023,4429053,A.J. Henning,WR,Northwestern,Big Ten,0.0871,0.1096,0.0645,0.0737,...,5.0,NaN,NaN,NaN,NaN,927.0,NaN,4.1,NaN,9.3
2,2023,4682760,Aaron Steinfeldt,TE,Indiana,Big Ten,0.0013,0.0027,0.0000,0.0000,...,0.0,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,11.0
3,2023,4574732,Aaron Young,RB,Rutgers,Big Ten,0.0249,0.0132,0.0321,0.0293,...,3.0,NaN,NaN,NaN,NaN,118.0,NaN,5.9,NaN,8.0
4,2023,4433940,Abdur-Rahmaan Yaseen,WR,Purdue,Big Ten,0.0284,0.0597,0.0000,0.0247,...,0.0,NaN,NaN,NaN,NaN,329.0,NaN,NaN,NaN,13.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
874,2023,5160651,NaN,NaN,NaN,Big Ten,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2602.0,NaN,NaN,41.3,NaN
875,2023,5160745,NaN,NaN,NaN,Big Ten,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
876,2023,5160756,NaN,NaN,NaN,Big Ten,NaN,NaN,NaN,NaN,...,0.0,0.0,6.0,NaN,NaN,13.0,NaN,NaN,NaN,NaN
877,2023,5161912,NaN,NaN,NaN,Big Ten,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
878,2023,5168288,NaN,NaN,NaN,Big Ten,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,6.0,NaN,6.0,NaN,NaN

In [6]:
#2023 ALL CFB Player Basic Info
#Obtained from 'Team Rosters' link on website and only choosing the PlayerId, Team, Position, First Name, Last Name columns

p_info = pd.read_csv('2023 Players Basic Info.csv')
p_info['Player'] = p_info['First Name'] + ' '+ p_info['Last Name']
p_info.rename(columns = {'Id': 'PlayerId'}, inplace=True)
p_info.drop(columns = ['First Name', 'Last Name'], inplace = True)
p_info.sort_values(by = 'Player', inplace = True)
p_info.dropna(inplace=True)
p_info

       PlayerId             Team Position              Player
10335   4840121          Liberty        S       A'Khori Jones
10087   4832038         Delaware       CB       A'Khoury Lyde
19158   5151354      Boise State       CB      A'Marion McCoy
13839   4918111              USC       RB   A'Marion Peterson
13309   4899488           Oregon       DL  A'Mauri Washington
...         ...              ...      ...                 ...
2372    4429114           Auburn       DL    Zykeivous Walker
13730   4917310        Louisiana       RB         Zylan Perry
15056   5081780           Temple       DL         Zymir Cobbs
6585    4683724  San Diego State       LB        Zyrus Fiaseu
7900    4691318   Louisiana Tech       DL         Zyun Reeves

[20482 rows x 4 columns]

In [7]:
#Team Records
#Obtained from the 'Team Records' link on website and filtering for just 2023 Big Ten Data

t_records = pd.read_csv('Team Records.csv')
t_records.drop(columns=['Year', 'Conference'], inplace = True)
t_records

,Team,Division,ExpectedWins,Total Games,Total Wins,Total Losses,Total Ties,ConferenceGames Games,ConferenceGames Wins,ConferenceGames Losses,ConferenceGames Ties,HomeGames Games,HomeGames Wins,HomeGames Losses,HomeGames Ties,AwayGames Games,AwayGames Wins,AwayGames Losses,AwayGames Ties
0,Auburn,West,6.4,13,6,7,0,8,3,5,0,7,3,4,0,5,3,2,0
1,UAB,NaN,6.1,12,4,8,0,8,3,5,0,6,4,2,0,6,0,6,0
2,South Alabama,West,7.8,13,7,6,0,8,4,4,0,6,4,2,0,7,3,4,0
3,Arkansas,West,5.5,12,4,8,0,8,1,7,0,6,2,4,0,4,1,3,0
4,Arizona State,NaN,3.6,12,3,9,0,9,2,7,0,8,2,6,0,4,1,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,Toledo,West,10.7,14,11,3,0,9,8,1,0,6,6,0,0,6,5,1,0
129,Troy,West,10.1,14,11,3,0,9,8,1,0,7,6,1,0,6,5,1,0
130,Tulane,NaN,9.9,14,11,3,0,9,8,1,0,8,6,2,0,5,5,0,0
131,Western Michigan,West,4.5,12,4,8,0,8,3,5,0,5,3,2,0,7,1,6,0
132,Wyoming,Mountain,7.3,13,9,4,0,8,5,3,0,7,7,0,0,5,1,4,0

In [8]:
#Team Basic Stats
#Obtained from the 'Team Statistics by Season' link and filtering for 2023 Big Ten Data

t_b_stats = pd.read_csv('Team Basic Stats.csv')

t_b_stats = t_b_stats[['Team', 'StatName', 'StatValue']].groupby(['Team', 'StatName']).sum().unstack()
t_b_stats.columns = t_b_stats.columns.droplevel(0)
t_b_stats.reset_index(inplace = True)
t_b_stats = t_b_stats.rename_axis(None, axis=1)
t_b_stats = t_b_stats.add_prefix('Team ')
t_b_stats.rename(columns={'Team Team': 'Team'},  inplace=True)
t_b_stats

,Team,Team firstDowns,Team fourthDownConversions,Team fourthDowns,Team fumblesLost,Team fumblesRecovered,Team games,Team interceptionTDs,Team interceptionYards,Team interceptions,...,Team puntReturns,Team rushingAttempts,Team rushingTDs,Team rushingYards,Team sacks,Team tacklesForLoss,Team thirdDownConversions,Team thirdDowns,Team totalYards,Team turnovers
0,Air Force,255,17,25,11,4,13,2,162,6,...,8,711,36,3648,30,68,78,168,4753,17
1,Akron,200,8,23,6,5,12,1,191,15,...,18,346,12,972,19,62,57,171,3343,21
2,Alabama,277,5,7,5,7,14,1,125,6,...,21,561,32,2417,40,84,82,182,5503,11
3,Appalachian State,332,18,28,12,10,14,2,149,10,...,2,534,23,2402,35,84,79,189,6229,22
4,Arizona,299,10,15,3,9,13,0,88,11,...,15,398,17,1816,34,74,80,163,5824,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,West Virginia,289,19,36,6,5,13,0,170,7,...,21,565,32,2976,33,84,69,174,5650,13
129,Western Kentucky,263,16,26,9,9,13,1,131,14,...,11,357,12,1386,26,57,83,191,5223,23
130,Western Michigan,235,19,39,4,9,12,0,2,9,...,7,479,21,1840,24,62,64,179,4374,13
131,Wisconsin,260,5,20,12,4,13,1,171,5,...,22,454,22,2095,29,78,88,199,4957,17
132,Wyoming,242,6,9,5,11,13,1,120,6,...,9,468,19,2060,20,51,56,152,4251,11

In [9]:
#Merge to fill in missing player info

merged2 = merged.merge(p_info, on = 'PlayerId', how = 'left', suffixes=[None, '_y'])
merged2['Position'] = merged2['Position'].combine_first(merged2['Position_y'])
merged2['Team'] = merged2['Team'].combine_first(merged2['Team_y'])
merged2['Player'] = merged2['Player'].combine_first(merged2['Player_y'])
merged2.drop(columns=['Team_y', 'Position_y', 'Player_y'], inplace= True)
merged2.sort_values(by = 'PlayerId')
merged2.dropna(subset = ['Player'], inplace=True)
merged2

,Season,PlayerId,Player,Position,Team,Conference,Usage Overall,Usage Pass,Usage Rush,Usage FirstDown,...,TD,TFL,TOT,XPA,XPM,YDS,YPA,YPC,YPP,YPR
0,2023,4576297,A.J. Barner,TE,Michigan,Big Ten,0.0251,0.0612,0.0000,0.0144,...,1.0,NaN,NaN,NaN,NaN,249.0,NaN,NaN,NaN,11.3
1,2023,4429053,A.J. Henning,WR,Northwestern,Big Ten,0.0871,0.1096,0.0645,0.0737,...,5.0,NaN,NaN,NaN,NaN,927.0,NaN,4.1,NaN,9.3
2,2023,4682760,Aaron Steinfeldt,TE,Indiana,Big Ten,0.0013,0.0027,0.0000,0.0000,...,0.0,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,11.0
3,2023,4574732,Aaron Young,RB,Rutgers,Big Ten,0.0249,0.0132,0.0321,0.0293,...,3.0,NaN,NaN,NaN,NaN,118.0,NaN,5.9,NaN,8.0
4,2023,4433940,Abdur-Rahmaan Yaseen,WR,Purdue,Big Ten,0.0284,0.0597,0.0000,0.0247,...,0.0,NaN,NaN,NaN,NaN,329.0,NaN,NaN,NaN,13.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
873,2023,5160648,Nyzier Fourqurean,CB,Wisconsin,Big Ten,NaN,NaN,NaN,NaN,...,0.0,3.5,39.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
874,2023,5160651,Atticus Bertrams,P,Wisconsin,Big Ten,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2602.0,NaN,NaN,41.3,NaN
875,2023,5160745,Trent Brown,DB,Rutgers,Big Ten,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
876,2023,5160756,Trevor Yeboah-Kodie,DB,Rutgers,Big Ten,NaN,NaN,NaN,NaN,...,0.0,0.0,6.0,NaN,NaN,13.0,NaN,NaN,NaN,NaN
877,2023,5161912,Calvin Smith,OL,Illinois,Big Ten,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#Merge Team Record Info

merged3 = merged2.merge(t_records, on = 'Team')
merged3

,Season,PlayerId,Player,Position,Team,Conference,Usage Overall,Usage Pass,Usage Rush,Usage FirstDown,...,ConferenceGames Losses,ConferenceGames Ties,HomeGames Games,HomeGames Wins,HomeGames Losses,HomeGames Ties,AwayGames Games,AwayGames Wins,AwayGames Losses,AwayGames Ties
0,2023,4576297,A.J. Barner,TE,Michigan,Big Ten,0.0251,0.0612,0.0000,0.0144,...,0,0,7,7,0,0,5,5,0,0
1,2023,4685495,Alex Orji,QB,Michigan,Big Ten,0.0164,0.0027,0.0261,0.0240,...,0,0,7,7,0,0,5,5,0,0
2,2023,5008017,Benjamin Hall,RB,Michigan,Big Ten,0.0174,0.0027,0.0279,0.0216,...,0,0,7,7,0,0,5,5,0,0
3,2023,4429096,Blake Corum,RB,Michigan,Big Ten,0.2955,0.0452,0.4730,0.3438,...,0,0,7,7,0,0,5,5,0,0
4,2023,4685535,C.J. Stokes,RB,Michigan,Big Ten,0.0044,0.0000,0.0074,0.0024,...,0,0,7,7,0,0,5,5,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
872,2023,4917948,Malik Hartford,S,Ohio State,Big Ten,NaN,NaN,NaN,NaN,...,1,0,6,6,0,0,6,5,1,0
873,2023,5081807,Sonny Styles,S,Ohio State,Big Ten,NaN,NaN,NaN,NaN,...,1,0,6,6,0,0,6,5,1,0
874,2023,5081814,Jayden Fielding,PK,Ohio State,Big Ten,NaN,NaN,NaN,NaN,...,1,0,6,6,0,0,6,5,1,0
875,2023,5081821,Kenyatta Jackson Jr.,DE,Ohio State,Big Ten,NaN,NaN,NaN,NaN,...,1,0,6,6,0,0,6,5,1,0
876,2023,5150710,Jermaine Mathews Jr.,CB,Ohio State,Big Ten,NaN,NaN,NaN,NaN,...,1,0,6,6,0,0,6,5,1,0

In [11]:
#Merge team basic stats

merged4 = merged3.merge(t_b_stats, on = 'Team')
merged4

,Season,PlayerId,Player,Position,Team,Conference,Usage Overall,Usage Pass,Usage Rush,Usage FirstDown,...,Team puntReturns,Team rushingAttempts,Team rushingTDs,Team rushingYards,Team sacks,Team tacklesForLoss,Team thirdDownConversions,Team thirdDowns,Team totalYards,Team turnovers
0,2023,4576297,A.J. Barner,TE,Michigan,Big Ten,0.0251,0.0612,0.0000,0.0144,...,31,563,40,2536,38,84,74,173,5741,8
1,2023,4685495,Alex Orji,QB,Michigan,Big Ten,0.0164,0.0027,0.0261,0.0240,...,31,563,40,2536,38,84,74,173,5741,8
2,2023,5008017,Benjamin Hall,RB,Michigan,Big Ten,0.0174,0.0027,0.0279,0.0216,...,31,563,40,2536,38,84,74,173,5741,8
3,2023,4429096,Blake Corum,RB,Michigan,Big Ten,0.2955,0.0452,0.4730,0.3438,...,31,563,40,2536,38,84,74,173,5741,8
4,2023,4685535,C.J. Stokes,RB,Michigan,Big Ten,0.0044,0.0000,0.0074,0.0024,...,31,563,40,2536,38,84,74,173,5741,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
872,2023,4917948,Malik Hartford,S,Ohio State,Big Ten,NaN,NaN,NaN,NaN,...,17,431,20,1805,28,70,72,168,5303,13
873,2023,5081807,Sonny Styles,S,Ohio State,Big Ten,NaN,NaN,NaN,NaN,...,17,431,20,1805,28,70,72,168,5303,13
874,2023,5081814,Jayden Fielding,PK,Ohio State,Big Ten,NaN,NaN,NaN,NaN,...,17,431,20,1805,28,70,72,168,5303,13
875,2023,5081821,Kenyatta Jackson Jr.,DE,Ohio State,Big Ten,NaN,NaN,NaN,NaN,...,17,431,20,1805,28,70,72,168,5303,13
876,2023,5150710,Jermaine Mathews Jr.,CB,Ohio State,Big Ten,NaN,NaN,NaN,NaN,...,17,431,20,1805,28,70,72,168,5303,13

In [12]:
#Checking to see if any player shows up more than once

merged4['PlayerId'].duplicated().any()

False

In [13]:
#Load transfer data for after the 2023 Season

transfer = pd.read_csv('2024 Transfer.csv')
transfer['Player'] = transfer['FirstName'] + ' ' + transfer['LastName']
transfer.rename(columns = {'Origin': 'Team'}, inplace = True)
transfer = transfer[['Player','Team', 'Position', 'Stars']]
transfer = transfer.assign(Transfer_Portal ='Yes')
transfer

                   Player              Team Position  Stars Transfer_Portal
0           Kyle Williams  Washington State       WR    3.0             Yes
1         Julian Humphrey           Georgia       CB    4.0             Yes
2         Terrell Dawkins    South Carolina       DL    3.0             Yes
3     Jordan van den Berg        Penn State       DL    3.0             Yes
4             Jack Bailey          Colorado      IOL    3.0             Yes
...                   ...               ...      ...    ...             ...
2242          Chubba Maae          UC Davis       DL    3.0             Yes
2243        Dymere Miller          Monmouth       WR    4.0             Yes
2244          Leon Lowery          Syracuse       LB    3.0             Yes
2245      Cameron Harpole   San Diego State       TE    3.0             Yes
2246     Dominick Mazotti    San José State       TE    3.0             Yes

[2247 rows x 5 columns]

In [14]:
#Merge Data with Transfer Data for 2023 Big Ten Players

big_ten_2023 = merged4.merge(transfer, on = ['Player', 'Team', 'Position'], how = 'left')
big_ten_2023['Transfer_Portal'] = big_ten_2023['Transfer_Portal'].fillna('No')
big_ten_2023

,Season,PlayerId,Player,Position,Team,Conference,Usage Overall,Usage Pass,Usage Rush,Usage FirstDown,...,Team rushingTDs,Team rushingYards,Team sacks,Team tacklesForLoss,Team thirdDownConversions,Team thirdDowns,Team totalYards,Team turnovers,Stars,Transfer_Portal
0,2023,4576297,A.J. Barner,TE,Michigan,Big Ten,0.0251,0.0612,0.0000,0.0144,...,40,2536,38,84,74,173,5741,8,NaN,No
1,2023,4685495,Alex Orji,QB,Michigan,Big Ten,0.0164,0.0027,0.0261,0.0240,...,40,2536,38,84,74,173,5741,8,NaN,No
2,2023,5008017,Benjamin Hall,RB,Michigan,Big Ten,0.0174,0.0027,0.0279,0.0216,...,40,2536,38,84,74,173,5741,8,NaN,No
3,2023,4429096,Blake Corum,RB,Michigan,Big Ten,0.2955,0.0452,0.4730,0.3438,...,40,2536,38,84,74,173,5741,8,NaN,No
4,2023,4685535,C.J. Stokes,RB,Michigan,Big Ten,0.0044,0.0000,0.0074,0.0024,...,40,2536,38,84,74,173,5741,8,NaN,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
872,2023,4917948,Malik Hartford,S,Ohio State,Big Ten,NaN,NaN,NaN,NaN,...,20,1805,28,70,72,168,5303,13,NaN,No
873,2023,5081807,Sonny Styles,S,Ohio State,Big Ten,NaN,NaN,NaN,NaN,...,20,1805,28,70,72,168,5303,13,NaN,No
874,2023,5081814,Jayden Fielding,PK,Ohio State,Big Ten,NaN,NaN,NaN,NaN,...,20,1805,28,70,72,168,5303,13,NaN,No
875,2023,5081821,Kenyatta Jackson Jr.,DE,Ohio State,Big Ten,NaN,NaN,NaN,NaN,...,20,1805,28,70,72,168,5303,13,NaN,No
876,2023,5150710,Jermaine Mathews Jr.,CB,Ohio State,Big Ten,NaN,NaN,NaN,NaN,...,20,1805,28,70,72,168,5303,13,NaN,No